.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
}

.mySwiper img {
  height: 344px;
  width: 800px;
  object-fit: cover;
}
