.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  width: 1200px;
  margin: 0 auto;
}

.image-slider {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 35px;
}

.sections-container {
  grid-column: 1fr;
  grid-row: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
